 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }
    
    .header {
      background-color: #0e0e0e;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
	  
    }
    
    .logo {
      font-size: 24px;
      font-weight: bold;

	   cursor:pointer;
    }
   
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
    .hamburger {
      
      
	  cursor:pointer;
    }
    
    .secT{
      padding-right: 40vh;
    }
    .secT1{
      padding-left: 90vh;
      margin: 0px;
      text-align: center;
    }

    .cen{
      text-align: center;
      padding-bottom: 150px;
    }
    .main {
      height: 100vh;
      background-image: url(https://media.discordapp.net/attachments/603960150327427075/1114983339129065622/2.png);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
    }

    .sec {
      height: 100vh;
      background-image: url(https://media.discordapp.net/attachments/603960150327427075/1114984159144853676/Artboard_1.png);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: right;
      text-align: right;
      color: #fff;
    }

    h1 {
      font-size: 48px;
      margin: 0;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 24px;
      margin: 0;
    }
    .footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }